.input-wrapper{
  margin: 10px;
}

.input-field{
  width: 100px;
  height: 20px;
}

.button{
  width: 100px;
  height: 20px;
}

.container{
  text-align: center;
}

.button-link{
  border: 0;
  cursor: pointer;
  background-color: transparent;
  color: skyblue;
  margin: 20px;
}